<h1><%= @machine.location %> Vending Machine</h1>
<<ul>
  <% @machine.snacks.each do |snack| %>
  <li id="snack-<%= snack.id %>"><%= snack.name %>: $<%= snack.price.round(2) %></li>
  <% end %>
  <% if @machine.snack_count > 0 %>
    <li>Average Price: $<%= @machine.average_price.round(2) %></li>
  <% end %>
</ul>