<h1><%= @snack.name %></h1>
<p>Price: <%= number_to_currency(@snack.price) %></p>
<% if @snack.machine_count > 0 %>
  <h2>Locations</h2>
  <% @snack.unique_machines.each do |machine| %>
    <li id="machine-<%= machine.id %>"><%= machine.location %> (<%= machine.snack_count_words %> of snacks, average price of <%= number_to_currency(machine.average_price) %>)</li>
  <% end %>
<% end %>